* {
    color: #3e3e3e;
}

// Navigation
nav {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .75);

    .centered {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 1200px;
        height: 72px;
        margin: 0px auto;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

// Home Page & Dice Page
.home-page {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1.title {
        margin-top: 100px;
    }

    .dices {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 800px;
        height: 540px;
        margin: 24px 0;

        border-radius: 12px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    }

    h1.info, h1.info-greater {
        margin: 24px 0 28px 0;
    }

    .dice-result, .result-greater {
        display: grid;
        gap: 24px;
        width: 1200px;
        margin-bottom: 100px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// Dice
.dice-page {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        font-size: 18px;
        width: 256px;
        padding: 6px 12px;
        border: none;
        border-radius: 8px;
        margin: 12px;
        background-color: #ddd;
        transition: .2s;
        cursor: pointer;

        // &: is applied when button disabled equals to true.
        &:disabled {
            color: #fff;
            background-color: #ec3131;
            box-shadow: 0 0 20px rgba(0, 0, 0, .75);
            cursor: not-allowed;
        }
    }

    button:hover:enabled {
        color: #fff;
        background-color: #3e3e3e;
    }

    button.reset {
        margin-top: -2px;
    }

    h1 {
        padding: 12px;
    }

    .advanced {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            font-size: 18px;
            padding: 12px;
            height: 32px;
            width: 156px;
            margin: 12px;
            outline: none;
            border: 1px solid #1f1f1f;
            border-radius: 4px;
        }
    }
}

.display-result {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);

    h1 {
        font-size: 20px;
        margin: -8px 0 12px 0;
    }

    h2 {
        margin: 4px 0 -12px 0;
    }
}

// All Result
.all-result {
    margin: 12px 0 12px 0;
    font-size: 18px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-areas:
        'title title title title'
        'line1 line1 line1 line1'
        'urutan jumlah muncul persentase'
        'line2 line2 line2 line2'
        'h3-1 h3-2 h3-3 h3-4'
        'average average average average'
        'h3-5 h3-5 h3-5 h3-5';
    width: 1000px;
        
    h2 {
        margin-bottom: 24px;
        align-self: center;
        justify-self: center;
        grid-area: title;
    }
        
    #urutan, #jumlah, #muncul, #persentase, #h3-1, #h3-2, #h3-3, #h3-4  {
        align-self: center;
        justify-self: center;
        margin: 8px 0 8px 0;
    }

    #urutan {
        grid-area: urutan;
    }

    #jumlah {
        grid-area: jumlah;
    }

    #muncul {
        grid-area: muncul;
    }

    #persentase {
        grid-area: persentase;
    }

    margin-bottom: 200px;

    h2 {
        margin-bottom: 18px;
    }

    hr {
        width: 1000px;
    }

    #hr1 {
        grid-area: line1;
    }

    #hr2 {
        grid-area: line2;
    }

    #h3-1 {
        grid-area: h3-1;
    }

    #h3-2 {
        grid-area: h3-2;
    }

    #h3-3 {
        grid-area: h3-3;
    }

    #h3-4 {
        grid-area: h3-4;
    }

    h2#average {
        margin: 48px 0 8px 0;
        grid-area: average;
    }

    #h3-5 {
        align-self: center;
        justify-self: center;
        grid-area: h3-5;
    }
}